<div class="footer">
  <hr/>
  <div class="row">
    <div class="col-md-2">
      facebook
    </div>
    <div class="col-md-2">
      twitter
    </div>
    <div class="col-md-2">
      instagram
    </div>
    <div class="col-md-2">
      linked in
    </div>
    <div class="col-md-2">
      newsletter
    </div>
  </div>
</div>